#boardLayer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 365px;
    height: 365px;
    background-color: #282828;
}

#scoreLayer {
    top: 445.7px;
    left: 0px;
    position: absolute;
    height: 60px;
    width: 445px;
    background-color: black;
    color: white;
    font-size: 50px;
    text-align: center;
}

#commandsLayer {
    position: absolute;
    height: 507px;
    width: 150px;
    background-color: black;
    top: 0px;
    left: 445.5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px ;
}

#turnContainer {
    text-align: center;
    position: absolute;
    height: 125px;
    width: 100px;
    background-color: #282828;
    top: 20%;
    left: 17%;
    border-radius: 25px;
}

/*
#giveUpContainer {
    position: absolute;
    height: 80px;
    width: 100px;
    background-color: pink;
    top: 65%;
    left: 17%;
}*/

#giveUpButton {
    position: absolute;
    top: 72%;
    width: 100%;
    font-size: 20px;
}

#newGameButton {
    position: absolute;
    top: 65%;
    width: 100%;
    font-size: 20px;
}

#turnBox {
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: green;
    top: 20%;
    left: 10%;
    border-radius: 30%;
}

#turnLabel {
    height: 20px;
    font-size: 20px;
}