body
{
background-color: white;
margin: 0%;
}

.TopBar
{
    height: 50px;
    margin: 0%;
    background-color: springgreen;
    padding: 0%;
}

.Logo
{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 48px;
    margin: 25px;
    letter-spacing: 2px;
}

.buttonLogin
{
    float: right;
    margin: 0.5%;
}

.Username
{
    float: right;
    margin: 0.5%;
    font-weight: bold;
}

.NavBar
{
    background-color: springgreen;
    float: left;
    width: 300px;
    height: 100%;
    position: fixed;
}

.button
{
    color: black;
    background-color: white;
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    font-size: 250%;
}

.button:hover
{
    background-color: rgb(219, 219, 219);
}

.button:active {
    background-color: rgb(219, 219, 219);
    box-shadow: 0 5px rgb(68, 156, 113);
    transform: translateY(4px);
  }

.loginPrompt {
    top: 200px;
    left: 500px;
    display: none;
    padding: 50px 20px;
    position: fixed;
    height: 50%;
    width: 50%;
    background-color: springgreen;
}
.logoContainer 
{
    /*background-color: teal;*/
    text-align: center;
}

img.logo 
{
    /*background-color: yellow;*/
    width: 15%;
    border-radius: 10%;
}

.loginContainer 
{
    /*background-color: violet;*/
    text-align: center;
    padding: 20px;
}

input[type=text], input[type=password] 
{
    display: inline-block;
    padding: 10px;
    margin: 8px;
    border: 1px solid #ccc;
}
.loginBtn 
{
    width: 190px;
    padding: 10px;
    margin: 8px;
}
#gameName 
{
    text-align: center;
    margin: -5px;
}

.rules
{
    position: fixed;
    margin-top: 150px;
    margin-left: 40%;
    display: none;
}

/* .rules a {
     float: left; 
    top: 20px;
    right: 20px;
} */

.ExitButton
{
    position: fixed;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(219, 59, 59);
    color: white;
    font-size: 8px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#ExitRules
{
    float: right;
}

#ExitLogin
{
    top: 240px;
    right: 400px;
}

#boardLayer {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 365px;
    height: 365px;
    background-color: black;
    display: none;
}

.PlaySettingsAI
{
    display: none;
    padding: 50px;
    background-color: springgreen;
    position: fixed;
    float: right;
    top: 30%;
    left: 50%;
}